<h1>
  <%= @song.title %><%= link_to "Songs Index", songs_path, class: "btn btn-default", style: "float: right" %>
</h1>

<h3><%= link_to @song.artist.name, @song.artist %></h3>

<p><%= @song.year %></p>
