
 @import "bootstrap-sprockets";
 @import "bootstrap";

#main {
  margin: 50px;
}

h1 {
  background: #401200;
  color: #DCCDC6;
  padding: 15px;
  letter-spacing: 3px;
  font-family: serif;
  padding-left: 40px;
}

.btn {
  background: #DCCDC6;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #401200;
  letter-spacing: 1px;
  font-family: sans-serif;
}
